@using ArthWeb.Helpers;
@{ 
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    int count = Session["count"]==null?0:(int)Session["count"];
    Dictionary<string ,List<string>> menMenu = MenuItemHelper.GetMenuItems("Men");
    Dictionary<string, List<string>> womenMenu = MenuItemHelper.GetMenuItems("Women");
    string menmarkup = null;
    string womenMarkup = null;
    foreach (var item in menMenu)
    {
        menmarkup += "<li>";
        menmarkup += "<div class='collapsible-header center' style='display:block;'><b>" + item.Key.Replace('_', ' ') + "</b></div>";
        menmarkup += "<div class='collapsible-body'>";
        menmarkup += "<ul class='list-unstyled'>";
        foreach (string subType in item.Value)
        {
            menmarkup += "<li>";
            menmarkup += "<a href='"+Url.Action("SearchItems","Search",new {cat=item.Key,item=subType,gender="Men" })+ "'>" + subType.Replace('_', ' ')+"</a>";
            menmarkup += "</li>";
        }
        menmarkup += "</ul></div></li>";
    }
    foreach (var item in womenMenu)
    {
        womenMarkup += "<li>";
        womenMarkup += "<div class='collapsible-header center' style='display:block;'><b>" + item.Key.Replace('_', ' ') + "</b></div>";
        womenMarkup += "<div class='collapsible-body'>";
        womenMarkup += "<ul class='list-unstyled'>";
        foreach (string subType in item.Value)
        {
            womenMarkup += "<li>";
            womenMarkup += "<a href='" + Url.Action("SearchItems", "Search", new { cat = item.Key, item = subType, gender = "Women" }) + "'>" + subType.Replace('_', ' ') + "</a>";
            womenMarkup += "</li>";
        }
        womenMarkup += "</ul></div></li>";
    }
}
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color: black;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif!important;
    }

    

    main {
        flex: 1 0 auto;
        margin:10px;
    }

    #loader-img {
        background: url('../../Content/Rolling-1s-200px.gif') center center no-repeat;
        height: 100%;
        z-index: 20;
    }

    

    .overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #666;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40);
        display:none;/* For IE8 and earlier */
    }

    
    .notification-badge {
        position: relative;
        padding: 5px 9px;
        background-color: black;
        color: #941e1e;
        bottom: 15px;
        left: 0px;
        border-radius: 50%;
    }

    .notif {
        position: absolute;
        font-size:30px;
    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid black!important;
        background-color: black!important;
        z-index: 0;
    }

    input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid black!important;
        -webkit-box-shadow: 0 1px 0 0 black!important;
        box-shadow: 0 1px 0 0 black!important;
    }

    [type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
        background-color: black !important;
    }

    [type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
        border: 2px solid black !important;
    }

    ul.dropdown-content.select-dropdown li span {
        color: #000; /* no need for !important :) */
    }

    .navbar-fixed {
        position: absolute;
        z-index: 999999999;
    }

    .dropdown-content {
        overflow: visible !important;
    }

    

</style>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/alertify.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/themes/default.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Content/alertifyjs/alertify.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>
    
    <!--        Navbar Start-->

    <header>
        <div class="navbar-fixed">
            <nav class="transparent z-depth-0">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Index","Home")" class="brand-logo center black-text">LOGO</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="#" class="black-text sidenav-trigger show-on-large" data-target="menDD"><b>MEN</b></a></li>
                        <li><a href="#" class="black-text sidenav-trigger show-on-large" data-target="womenDD"><b>WOMEN</b></a></li>
                        <li><a href="#" class="black-text"><b>WHAT'S NEW?</b></a></li>
                    </ul>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <form class="searchForm" action="@Url.Action("SearchItems","Search")">
                                <div class="input-field">
                                    <input id="search" type="search" name="search" placeholder="Search..." required>
                                    <i class="material-icons black-text" onclick="act(this);">search</i>
                                </div>
                            </form>
                        </li>
                        <li>
                            <a href="#" class="cartLink">
                                <i class="fab fa-shopping-cart black-text notif"></i>
                                <small class="notification-badge white-text">@count</small>
                            </a>
                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="dropdown-trigger" href="#!" data-target="profileDD">
                                    <i class="material-icons black-text">account_circle</i>
                                </a>
                                <ul id="profileDD" class="dropdown-content">
                                    <li><a href="@Url.Action("Profile","Account")" class="black-text"><i class="material-icons">face</i><b>PROFILE</b></a></li>
                                    <li><a href="@Url.Action("LogOut", "Account")" class="black-text"><i class="material-icons">keyboard_tab</i><b>LOGOUT</b></a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login","Account")" class="black-text"><b>SIGN IN</b></a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="menDD" class="sidenav">
            
            <li>
                <ul class="collapsible menCollapse center" data-collapsible="accordion">
                    @Html.Raw(menmarkup)
                </ul>
            </li>
        </ul>
        <ul id="womenDD" class="sidenav">
            
            <li>
                <ul class="collapsible womenCollapse" data-collapsible="accordion">
                    @Html.Raw(womenMarkup)
                </ul>
            </li>
        </ul>



        <ul class="sidenav center" id="mobile-demo">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Profile","Account")" class="black-text"><i class="material-icons">face</i><b>PROFILE</b></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Login","Account")" class="black-text"><b>SIGN IN</b></a></li>
            }
            <li>
                <div class="row valign-wrapper">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input placeholder="Search..." id="searchbar" type="text">
                    </div>
                    <div class="col s2">
                        <button class="btn btn-flat" id="searchbarBtn"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </li>
            <li>
                <ul class="collapsible" data-collapsible="accordion" id="menuMobileCollapse">
                    <li>
                <div class="collapsible-header center" style="display:block;"><b>WOMEN</b></div>
                <div class="collapsible-body">
                    <ul class="collapsible womenCollapse" data-collapsible="accordion">
                        @Html.Raw(womenMarkup)
                    </ul>
                </div>
                 
            </li>
            <li>
                <div class="collapsible-header center" style="display:block;"><b>MEN</b></div>
                <div class="collapsible-body">
                    <ul class="collapsible menCollapse" data-collapsible="accordion">
                        @Html.Raw(menmarkup)
                    </ul>
                </div>
                </li>
                </ul>
            </li>
            <li><a href="#" class="black-text"><b>WHAT'S NEW?</b></a></li>
            <li>
                <a href="#" class="cartLink btn btn-flat">
                    <i class="fab fa-shopping-cart notif"></i>
                    <small class="notification-badge white-text">@count</small>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("LogOut", "Account")" class="black-text"><i class="material-icons">keyboard_tab</i>LOGOUT</a></li>
            }
        </ul>



    </header>
    <!-- Navbar End-->
    <main>
        <div class="overlay">
            <div id="loader-img"></div>
        </div>
        <div class="row breadcrumbs">
            <div class="col s12">
                <button class="btn btn-primary waves-effect black white-text" onclick="window.history.back();" id="backHistBtn"> < Back</button>
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        @RenderBody()
    </main>

    <!--        Footer Start-->

    <footer class="page-footer grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l12 s12 center-align">
                    <h5 class="black-text">FIND US AT</h5>
                </div>
                <div class="col s12 center-align">
                    <h5>
                        <a href="#"><i class="fab fa-facebook fa-lg black-text"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fab fa-instagram fa-lg black-text"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fab fa-twitter fa-lg black-text"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fab fa-pinterest fa-lg black-text"></i></a>
                    </h5>
                </div>

            </div>
            <div class="row">
                <h6 class="right">
                    <a href="#" class="black-text">CONTACT US</a> <span class="black-text">|</span>
                    <a href="#" class="black-text">ABOUT US</a> <span class="black-text">|</span>
                    <a href="#" class="black-text">TERMS & CONDITIONS</a>
                </h6>
            </div>
        </div>
        @*<div class="container">
                <div class="row">
                    <div class="col l12 center-align">
                        <div class="col s3"><h6><a href="#" class="white-text">CONTACT US</a></h6></div>
                        <div class=" col s1"><h6 class="white-text"></h6></div>
                        <div class="col s3"><h6><a href="#" class="white-text">ABOUT US</a></h6></div>
                        <div class=" col s1"><h6 class="white-text"></h6></div>
                        <div class="col s3"><h6><a href="#" class="white-text">TERMS & CONDITIONS</a></h6></div>
                    </div>
                </div>
            </div>*@
        <div class="footer-copyright white">
            <div class="container">
                <h6 class="center black-text">© 2018 COPYRIGHT</h6>
            </div>
        </div>
    </footer>
    <!--        Footer End-->



    <script>

        function act(element) {
            element.previousElementSibling.focus();
        }

        $(document).ready(function () {
            $('#mobile-demo').sidenav();
            var path = "@path";
            if (path == "/") {
                $(".breadcrumbs").hide();
            }
            if (path.toLowerCase() == "/home/index") {
                $(".breadcrumbs").hide();
            }
            $('#menDD').sidenav();
            $('#womenDD').sidenav();
            $('.menCollapse').collapsible();
            $('.womenCollapse').collapsible();
            $('#menuMobileCollapse').collapsible();
            //M.AutoInit();
        });

        $('#searchForm').on('submit', function () {

            var term = $('#search').val();
            location.href = "@Url.Action("SearchItems","Search")" + "?search=" + term;
        });

        $('.cartLink').on('click', function () {
            if ($(this).find('.notification-badge').text() == "0") {
                return false;
            }
            location.href = "@Url.Action("CartItems", "Cart")";
        });

        function showSuccessAlert(message) {
            var markup = "<span>" + message + "</span><i class='fa fa-check'></i>";
            M.toast({ html: markup,classes:'rounded' });
        }

        function showErrorAlert(message) {
            var markup = "<span>" + message + "</span><i class='fa fa-times'></i>";
            M.toast({ html: markup, classes: 'rounded' });
        }

        function showWarningAlert(message) {
            var markup = "<span>" + message + "</span><i class='fa fa-exclamation-triangle'></i>";
            M.toast({ html: markup, classes: 'rounded' });
        }

        $('#searchbarBtn').on('click', function () {
            var text = $('#searchbar').val();
            if (text == null || text.length == 0) {
                return false;
            }
            location.href = "@Url.Action("SearchItems","Search")" + "?search=" + text;
        });

        $("#searchbar").on('keyup', function (e) {
            if (e.keyCode == 13) {
                $('#searchbarBtn').trigger('click');
            }
            });

            function showSpinner() {
                $(".overlay").show();
            }

            function hideSpinner() {
                $(".overlay").hide();
            }

    </script>
</body>
</html>
