<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color: black;
    }

    main {
        flex: 1 0 auto;
        margin:10px;
    }
</style>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    @*<link href="~/Content/all.css" rel="stylesheet" />*@
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/jquery.elevateZoom-3.0.8.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>
    <!--        Navbar Start-->
    
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="@Url.Action("Index","Home")" class="brand-logo">LOGO</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li>
                            <form id="searchForm" action="@Url.Action("Index","Search")">
                                <div class="input-field">
                                    <input id="search" type="search" name="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="profileDD">
                                <i class="material-icons">account_circle</i>
                            </a>
                            <ul id="profileDD" class="dropdown-content">
                                <li><a href="@Url.Action("Profile","Account")" class="grey-text text-darken-1"><i class="material-icons">face</i>Profile</a></li>
                                <li><a href="@Url.Action("LogOut", "Account")" class="grey-text text-darken-1"><i class="material-icons">keyboard_tab</i>Logout</a></li>
                            </ul>
                        </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
    </header>
    <!-- Navbar End-->
    <main>
        @RenderBody()
    </main>

    <!--        Footer Start-->

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l12 s12 center-align">
                    <h5 class="white-text">FIND US AT</h5>
                </div>
                <div class="col s12 center-align">
                    <div class="col s3"><h5><a href="#"><i class="fab fa-facebook fa-lg white-text"></i></a></h5></div>
                    <div class="col s3"><h5><a href="#"><i class="fab fa-instagram fa-lg white-text"></i></a></h5></div>
                    <div class="col s3"><h5><a href="#"><i class="fab fa-twitter fa-lg white-text"></i></a></h5></div>
                    <div class="col s3"><h5><a href="#"><i class="fab fa-pinterest fa-lg white-text"></i></a></h5></div>
                </div>

            </div>
        </div>
        @*<div class="container">
                <div class="row">
                    <div class="col l12 center-align">
                        <div class="col s3"><h6><a href="#" class="white-text">CONTACT US</a></h6></div>
                        <div class=" col s1"><h6 class="white-text"></h6></div>
                        <div class="col s3"><h6><a href="#" class="white-text">ABOUT US</a></h6></div>
                        <div class=" col s1"><h6 class="white-text"></h6></div>
                        <div class="col s3"><h6><a href="#" class="white-text">TERMS & CONDITIONS</a></h6></div>
                    </div>
                </div>
            </div>*@
        <div class="footer-copyright">

            <div class="container">
                <div class="row">
                    © 2018 Copyright
                    <h6 class="right">
                        <a href="#" class="white-text">CONTACT US</a> |
                        <a href="#" class="white-text">ABOUT US</a> |
                        <a href="#" class="white-text">TERMS & CONDITIONS</a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>
    <!--        Footer End-->



    <script>
        $(document).ready(function () {
            //$('.carousel').carousel();\
            $(".dropdown-trigger").dropdown({ hover: true, coverTrigger: false, constrainWidth: false });
            $('.sidenav').sidenav();
            //M.AutoInit();
        });

        $('#searchForm').on('submit', function () {

            var term = $('#search').val();
            location.href = "@Url.Action("Index","Search")" + "?search=" + term;
        });
    </script>
</body>
</html>
