@using ArthWeb.Models
@model LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/MatLayout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col s8 center">
            
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,new {onsubmit="return validate();" }))
                {
                    @Html.AntiForgeryToken()
            <div class="input-field">
                @Html.TextBoxFor(m => m.UserName, new { @required = "required",@id="uname",@maxlength= "254",@type="email",@class="validate" })
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="input-field">
                @Html.PasswordFor(m => m.Password, new { @required = "required",@id="pass" ,@class="validate"})
                @Html.LabelFor(m => m.Password)
            </div>
                <input type="submit" value="Log in" class="btn" />
                   
                }
            
        </div>
        <div class="col s4 center">
            <p>
                @Html.ActionLink("Register as a new user", "Register","Account")
            </p>
        </div>
    </div>
</div>

<script>
    function validate() {
        var uname = $('#uname').val();
        var pass = $('#pass').val();
        if (uname = "") {
            alert("Username cannot be empty"); return false;
        }
        if (pass.length < 8) {
            alert("Minimum length of password is 8."); return false;
        }
        return true;
    }
</script>