@using ArthWeb.Models
@model LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/MatLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col l4 s1 m2"></div>
        <div class="col l4 s10 m8">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.tate.org.uk/art/images/work/N/N04/N04948_10.jpg">
                    <span class="card-title">SIGN IN</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return validate();" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-field">
                                    @Html.TextBoxFor(m => m.UserName, new { @required = "required", @maxlength = "254", @type = "email", @class = "validate" })
                                    @Html.LabelFor(m => m.UserName, new { @class = "black-text" })
                                </div>
                                <div class="input-field">
                                    @Html.PasswordFor(m => m.Password, new { @required = "required", @class = "validate" })
                                    @Html.LabelFor(m => m.Password,new {@class="black-text" })
                                </div>
                                <label>
                                    <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" class="filled-in">
                                    <span class="black-text">REMEMBER ME?</span>
                                </label>
                                <br />
                                <br />
                                <input type="submit" value="SIGN IN" class="btn black" />

                            }
                        </div>
                    </div>

                 </div>
                <div class="card-action">
                    <a href="@Url.Action("Register","Account")" class="grey-text">SIGN UP</a>
                    <a href="@Url.Action("ForgotPassword","Account")" class="grey-text">FORGOT PASSWORD</a>
                </div>
            </div>
        </div> 
        <div class="col l4 s1 m2"></div>
        </div>
    </div>
<script>
    function validate() {
        var uname = $('#UserName').val();
        var pass = $('#Password').val();
        if (uname = "") {
            showWarningAlert("Username cannot be empty"); return false;
        }
        if (pass.length < 8) {
            showWarningAlert("Minimum length of password is 8."); return false;
        }
        return true;
    }
</script>