@using BE.Models
@model List<ItemCartModel>
@{
    ViewBag.Title = "Cart Items";
    decimal price = 0;
    IEnumerable<SelectListItem> addressList = null;
    if (ViewBag.addresses != null)
    {
        addressList = (IEnumerable<SelectListItem>)ViewBag.addresses;
    }
}



<div class="container-fluid">
    <div class="row">
        <div class="col s9">
            <ul class="collection with-header">
                <li class="collection-header"><h6>MY CART</h6></li>
                @foreach (ItemCartModel item in Model)
                {
                    <li class="collection-item avatar">
                        <img src="/Content/dewdrops-flora-flower-56866.jpg" alt="" class="circle">
                        <span class="title"><a href="@Url.Action("ViewItem","Item")?itemKey=@item.ItemKey">@item.Description</a></span>
                        <span class="itemKey" style="display:none">@item.ItemKey</span>
                        <p>
                            <b>Size</b>: @item.Size<br>
                            <b>Quantity</b>: @item.Quantity
                        </p>
                        <button class="btn-flat waves-effect secondary-content removefromCart"><i class="material-icons">close</i></button>
                    </li>
                    price += item.Price * item.Quantity;
                }
                <li class="collection-item">
                    <p style="float:left">
                        <a href="@Url.Action("Index","Home")" class="btn btn-flat waves-effect">KEEP SHOPPING</a>
                        <button class="btn btn-primary waves-effect" id="placeOrder">PLACE ORDER</button>
                    </p>
                </li>
            </ul>
            
                <button class="btn btn-primary waves-effect modal-trigger" data-target="selectModal" id="selAddress">Select Address</button>
            
            
                <p id="addressP" class="flow-text" style="width:50%;border: 1px solid black;">

                </p>
            

        </div>
        <div class="col s3">
            <ul class="collection with-header">
                <li class="collection-header"><h6>PRICE DETAILS</h6></li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s9">
                            Price (@Model.Count Item/s)
                            <br />
                            Delivery Charges
                        </div>
                        <div class="col s3">

                            Rs.@price
                            <br />
                            FREE
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s9">
                            Amount Payable
                        </div>
                        <div class="col s3">
                            Rs.@price
                        </div>
                    </div>
                </li>
            </ul>
            <blockquote>
                Currently we are taking orders for Cash on Delivery Only.
                Online Payment coming soon.
            </blockquote>
        </div>
    </div>
</div>

<div id="selectModal" class="modal modal-lg">
    <div class="modal-content">
        <h5 class="modal-title">Select Address</h5><br />
        <div class="row">
            @Html.DropDownList("address",addressList, new {@class= "input-field" })
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light" id="selBtn">OK</button>
    </div>
</div>

<script>
    var aID;
    $(document).ready(function () {
        $('#selectModal').modal();
        $('select').formSelect();
    });

    $('#selBtn').on('click', function () {
        var add = $('#address').val();
        if (add.length == 0) {
            alert("Select an address");
            return false;
        }
        aID = add;
        showSuccessAlert("Address selected");
        var markup = "<b>Address:</b><br/>";
        markup += $('#address').find(":selected").text()
        $('#addressP').html(markup);
        $('#selectModal').modal('close');
    });

    $('.removefromCart').on('click', function () {
        var item = $(this).closest('li').find('.itemKey').text();
        RemovefromCart(item, this);
    });

    $('#placeOrder').on('click', function () {
        if (aID == null || aID.length == 0) {
            showWarningAlert("Select an address");
            return false;
        }
        if ($('#addressP').html=="") {
            showWarningAlert("Select an address");
            return false;
        }
        PlaceOrder(aID);
    });

    function RemovefromCart(item,selector){
        $.ajax({
            url: '@Url.Action("Remove", "Cart")',
            type: "POST",
            data: { itemKey: item },
            success: function (res) {
                if (res.success) {
                    showSuccessAlert("Item removed from cart.");
                    location.reload();
                }
            } 
        });
    }

    function PlaceOrder(id) {
        $.ajax({
            url: '@Url.Action("PlaceOrder","Cart")',
            type: "POST",
            data: { id: id },
            success: function (res) {
                if (res.Success) {
                    showSuccessAlert(res.Message);
                    var param = res.data["OrderID"];
                    location.href = '@Url.Action("ViewOrder","Account")?orderID=' + param;
                }
                else {
                    showErrorAlert(res.Message);
                    $.each(res.data, function (i, el) {
                        showErrorAlert(el.Key + " " + el.Value);
                    });
                }
            }
        });
    }

</script>