@using BE
@model Item
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MatLayout.cshtml";
    IEnumerable<SelectListItem> sizeList = null;
    if (ViewBag.sizes != null)
    {
        sizeList = (IEnumerable<SelectListItem>)ViewBag.sizes;
    }
}
<style>
    .small_img {
        height: 100px;
        width: 100px;
    }

    .big_img {
        height: 500px;
        width: 500px;
    }

    
</style>

<div class="container-fluid">
    <div class="row">
        <h1>@Model.Description</h1>
    </div>
    <br>
    <div class="row">
        <div class="col l1">
            <img class="small_img responsive-img card" src="~/Content/dewdrops-flora-flower-56866.jpg" />
            <img class="small_img responsive-img card" src="~/Content/beautiful-bloom-blooming-658687.jpg" />
            <img class="small_img responsive-img card" src="~/Content/beauty-bloom-blue-67636.jpg" />
            <img class="small_img responsive-img card" src="~/Content/bloom-blossom-flora-35807.jpg" />
        </div>
        <div class="col l4">
            <div id="big_img_div">
                <img class="big_img img-thumbnail responsive-img card" src="~/Content/dewdrops-flora-flower-56866.jpg" data-zoom-image="~/Content/dewdrops-flora-flower-56866.jpg">
            </div>
        </div>
        <div class="col l5">
            <div class="row">
                <div class="col l12">
                    <p><u><b>Description:</b></u></p>
                    <p>
                        @Model.Description &nbsp;&nbsp;  @Model.DescriptionLong
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col l8">
                    <div class="input-field inline">
                        <label for="qty">Quantity</label>
                        <input type="number" id="qty" value="1" min="1" max="5">
                    </div>
                </div>
                <div class="col l4">
                    <label for="sizes">Size</label>
                    @Html.DropDownList("sizes", sizeList, "Choose a size", new { @class = "browser-default" })
                </div>
            </div>
            <div class="row">
                <div class="col l12">
                    <button id="addBtn" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    
    $(document).ready(function () {
        $('.big_img').elevateZoom();
        $('select').formSelect();
    });
        
    $('.small_img').on('click',function(){
        $("#big_img_div img:last-child").remove()
        var src = $(this).attr("src");
        $('#big_img_div').append("<img src='" + src + "' class='big_img img-thumbnail responsive-img card' data-zoom-image='"+src+"' />");
        $('.big_img').elevateZoom();
    });

    $('#addBtn').on('click', function () {
        var size = $('#sizes').val();
        if (size == null || size.length == 0) {
            alert('Please select a size.');
            return false;
        }
        AddToCart($('#sizes').find(':selected').text());
    });

    function AddToCart(size) {
        $.ajax({
            url: '@Url.Action("Add","Cart")',
            type: 'POST',
            data: {
                ItemKey: "@Model.ItemKey",
                Quantity: $('#qty').val(),
                Size: size
            },
            success: function (res) {
                if (res.Success) {
                    $('#cartLink').find('.badge').text(res.data);
                    $('#sizeModal').modal('close');
                    alert('Item added to cart.');
                }
            }
        });
    }
</script>


