@using BE
@model Item
@{
    ViewBag.Title = "View Item";
    Layout = "~/Views/Shared/MatLayout.cshtml";
    IEnumerable<SelectListItem> sizeList = null;
    if (ViewBag.sizes != null)
    {
        sizeList = (IEnumerable<SelectListItem>)ViewBag.sizes;
    }
}
<style>
    .small_img {
        height: 100px;
        width: 100px;
    }

    .big_img {
        height: 500px;
        width: 500px;
    }
</style>

<script>
    function GetPrice(num) {
        var price = num.toLocaleString('en-IN', {
            maximumFractionDigits: 2,
            style: 'currency',
            currency: 'INR'
        });
        return price;
    }
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Content/dewdrops-flora-flower-56866.jpg" class="materialboxed">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="carousel" style="height:200px;">
                        <a class="carousel-item" href="#one!"><img class="small_img responsive-img card" src="~/Content/dewdrops-flora-flower-56866.jpg" /></a>
                        <a class="carousel-item" href="#two!"><img class="small_img responsive-img card" src="~/Content/beautiful-bloom-blooming-658687.jpg" /></a>
                        <a class="carousel-item" href="#three!"><img class="small_img responsive-img card" src="~/Content/beauty-bloom-blue-67636.jpg" /></a>
                        <a class="carousel-item" href="#four!"><img class="small_img responsive-img card" src="~/Content/bloom-blossom-flora-35807.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col l12 s12 m12">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h4>Description</h4>
                            </li>
                            <li class="collection-item">
                                <p>
                                    @Model.Description
                                </p>
                                <p>
                                    @Model.DescriptionLong
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 s12 m12">
                        <span id="price" style="font-size:40px">
                            &#8377;

                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 s3 m3">
                        <div class="input-field inline">
                            <label for="qty">Quantity</label>
                            <input type="number" id="qty" value="1" min="1" max="5">
                        </div>
                    </div>
                    <div class="col l3 s6 m6">
                        <label for="sizes">Size</label>
                        @Html.DropDownList("sizes", sizeList, "Choose a size")
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 s12 m12 center-align">
                        <button id="addBtn" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
     </div>

    </div>


<script>

    $(document).ready(function () {
        $('.materialboxed').materialbox();
        $('select').formSelect();
        $('#price').append(GetPrice("@Model.Price"));
        $('.carousel').carousel({
            dist: 0,
            shift: 0,
            padding: 20
        });
    });
    
    $('#addBtn').on('click', function () {
        var size = $('#sizes').val();
        if (size == null || size.length == 0) {
            showWarningAlert('Please select a size.');
            return false;
        }
        var price = $('#price').text();
        price = parseFloat(price.replace("\u20b9", ''));
        AddToCart($('#sizes').find(':selected').text(), price);
    });

    $('.carousel-item').on('click', function () {
        var src = $(this).find('img').attr("src");
        $('.card-image').find('img').attr("src", src);
    });

    function AddToCart(size,price) {
        $.ajax({
            url: '@Url.Action("Add","Cart")',
            type: 'POST',
            data: {
                ItemKey: "@Model.ItemKey",
                Quantity: $('#qty').val(),
                Size: size,
                Price: price
            },
            beforeSend: function () {
                showSpinner();
            },
            success: function (res) {
                if (res.Success) {
                    $('.cartLink').each(function () {
                        $(this).find('.notification-badge').text(res.data);
                    });
                    showSuccessAlert('Item added to cart.');
                }
                else {
                    showErrorAlert("Item couldn't be added to cart.Please try again.");
                }
                hideSpinner();
            }
        });
    }
</script>


